presentations  # Lauren's presentations
POS  # og repo
documents
Scheduler_Input_Data/*
**Rproj**
**.Rhistory
workspace.code-workspace
*DS_store
**data_extracts
.Rproj.user
*scratch*
run_scheduler_main.R